.btn-main {
  background-color: #02ca92;
  padding: 16px 32px;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: #9CEBD5;
    color: white;
    text-decoration: none;
  }
}

.btn-accept {
  background-color: #02ca92;
  padding: 10px 20px;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: #9CEBD5;
    color: white;
    text-decoration: none;
  }
}

.btn-decline {
  background-color: #fa7f72;
  padding: 10px 20px;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color:#ec0101;
    color: white;
    text-decoration: none;
  }
}

.btn-back {
  background-color: #02ca92;
  padding: 16px 32px;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: #9CEBD5;
    color: white;
    text-decoration: none;
  }
}

.btn-review {
  background-color: #02ca92;
  padding: 4px 8px;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;

  &:hover {
    background-color: #9CEBD5;
    color: white;
    text-decoration: none;
  }
}