.index-header {
  padding: 10px;
}


.plant-card-link {
  text-decoration: none;
  color: black;
   &:hover {
    color: black;
    text-decoration: none;
  }
}

.card-plant {
  overflow: hidden;
  background: white;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.15);
  border-radius: 6px;
  transition: 0.5s;

  &:hover {
    transform: translateY(-2px);
    text-decoration: none;
  }
}

.card-plant > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-plant h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-plant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-plant .card-plant-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

