.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 190px;
}

.dropdown-item {
  color: #38A66F;
  &:hover {
    background-color: #38A66F;
    color: white;
  }
}

.nav-link {
  color: #38A66F;
}

.dropdown-menu {
  border-radius: 6px;
}

.avatar{
  margin-left: 20px;
  width: 50px;
}

