.search-bar .form-control {
  // display: flex;
  width: 500px;
  border-radius: 20px;
  opacity: 0.6;
}

.search-container {
  margin-top: 50px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.search-bar {
  position: relative;
  width: 500px;
}

.search-bar .form-control:focus {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);;
  border: rgb(216, 216, 216) 1px solid;
}

.btn-main.btn-search {
position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    width: 38px;
}
