.nav-item-booking {
 color: #38A66F;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #38A66F !important;
  &:hover {
    color: #fff;
  }
}

.nav-pills .nav-link:hover {
  text-decoration:none;
  color: #38A66F;
}
